.container .header .logo img {
    width: auto;
}

.el-submenu_title {
    color: #BBBBBB;
}

.myownStyle {
    .el-submenu__title {
        color: #BBBBBB;
    }
    .el-menu-item,
    .el-submenu__title {
        color: #BBBBBB;
        background: #283049;
    }
    .container .main {
        top: 80px;
    }
    .container .header .logo {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .header {
        height: 80px;
        background: #2581f0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container .main aside .el-menu {
        background: #283049;
        box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.12);
        width: 250px;
        overflow: auto;
    }
    .el-submenu .el-menu {
        box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.12);
        background-color: none;
        background: #283049;
    }
    .el-submenu .el-menu-item {
        background-blend-mode: normal, normal;
        box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.12);
        color: #BBBBBB;
        &:hover {
            background: #161E36;
        }
    }
    .el-submenu .el-menu-item.is-active {
        color: #20a0ff;
    }
}

.myself-container {
    padding-bottom: 30px;
}

.device_form {
    background: #fff !important;
}

.el-input--small .el-input__inner,
.el-range-editor--small.el-input__inner {
    height: 36px !important;
}

.el-submenu__title:focus,
.el-submenu__title:hover {
    background: #161E36 !important;
}

.el-button--primary {
    color: #FFF;
    background-color: #0A7CFF !important;
    border-color: #0A7CFF !important;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #0A7CFF !important;
    border-color: #0A7CFF !important;
}

.el-button--small {
    padding: 8px 35px !important;
    height: 32px;
}

.el-table--border:after,
.el-table--group:after,
.el-table:before {
    background-color: #dedede;
}

.el-table--border,
.el-table--group {
    border-color: #dedede;
}

.el-table td,
.el-table th.is-leaf {
    border-bottom: 1px solid #dedede;
}

.el-table--border th,
.el-table--border th.gutter:last-of-type {
    border-bottom: 1px solid #dedede;
}

.el-table--border td,
.el-table--border th {
    border-right: 1px solid #dedede;
}